* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Lexend Deca", sans-serif;
  line-height: 1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  background-color: #f2f2f2;
}
main {
  display: grid;

  max-width: 19rem;

  border-radius: 0.5rem;
  overflow: hidden;
}

.car-section {
  display: grid;
  gap: 1rem;

  padding: 2rem 3rem;
}
.car-section:first-child {
  background-color: #e38826;
}
.car-section:nth-child(2) {
  background-color: #006970;
}
.car-section:last-child {
  background-color: #004241;
}
.icon {
  width: 5ch;
  padding-bottom: 1rem;
}
.car-name {
  font-family: "Big Shoulders Display", cursive;
  font-weight: 700;
  font-size: 2rem;
  text-transform: uppercase;
  color: #f2f2f2;
}
.car-description {
  color: #ffffffbf;
  font-weight: 400;
  line-height: 1.5;
  font-size: 0.85rem;

  padding-top: 0.5rem;
  margin-bottom: 0.3rem;
}
.btn:link,
.btn:visited {
  text-decoration: none;
  background-color: #f2f2f2;
  padding: 0.8rem 1.2rem;

  width: 65%;
  font-size: 0.9rem;
  text-align: center;
  border-radius: 2rem;
  margin-bottom: 0.5rem;
  cursor: pointer;

  border: 0.15rem solid;
}
.btn-1:link,
.btn-1:visited {
  color: #e38826;
}
.btn-2:link,
.btn-2:visited {
  color: #006970;
}
.btn-3:link,
.btn-3:visited {
  color: #004241;
}
.btn:hover,
.btn:active {
  border: 0.15rem solid #f2f2f2;

  color: #f2f2f2;
}
.btn-1:hover,
.btn-1:active {
  background-color: #e38826;
}
.btn-2:hover,
.btn-2actived {
  background-color: #006970;
}
.btn-3:hover,
.btn-3actived {
  background-color: #004241;
}
footer {
  font-size: 11px;
  text-align: center;
}
footer a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 40rem) {
  main {
    max-width: 55rem;
    grid-template-columns: repeat(3, 1fr);
  }
  .car-description {
    margin-bottom: 2.7rem;
  }
}
